@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

/* start navbar*/

.mobo {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.navbar {
  display: block;
  flex: 1;
  background: #20a282;
}

.navitems {
  display: flex;
  justify-content: space-evenly;
  padding: 24px 64px;
}

/* .navitem {} */

.navitem a {
  text-decoration: none;
  font: 20px "Noto Serif", serif;
  color: #eee;
}

.navheader {
  flex: 1;
  background: #20a282;
  padding: 16px 24px;
}

.navheader a {
  font: 20px "Noto Serif", serif;
  color: #dfd;
  text-decoration: none;
}

/*start telefoon*/

@media screen and (max-width: 620px) {
  .mobo {
    display: block;
  }
 
  .mobo-hidden {
    display: none;
  }
 
  .navitems {
    flex-direction: column;
    padding: 24px 24px;
  background: #20a282;
  }
  .navitem:not(:last-child) {
    width: 50%;
    margin-bottom: 16px;
  }
  .navitem:nth-child(even) {
    position: absolute;
    left: 50%;
    transform: translateY(-100%);
  }
/* eind telefoon*/

/* start logo*/
}
.Logo{
  width: 10%;
  margin-top: 1%;
  margin-left: 1%;
}
/* eind logo*/

/* Start footer*/
.Footer {
  background: #20a282;
  height: 4%;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  position: fixed;
  bottom: 0;
  width: 101%;
  z-index: 30;
  padding-top: 8px;
  margin-left: -8px;
}
/* eind footer*/

/* Start text*/
.text1{
 margin-left: 20%;
}
span{
  font-weight: bold;
}
h2{
  /* text-align: center; */
  margin-top: -7%;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p{
  font-size: 1.9rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* eind text*/

.foto{
  width: 20%;
  margin-left: 70%;
}

.footerfoto{
  width: 2%;
  margin-right: 1%;
  position: absolute;
}